.player {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
  background-color: #1e1f1f;
  -webkit-box-shadow: 1px 4px 15px -4px rgb(10, 10, 10);
  -moz-box-shadow: 1px 4px 15px -4px rgb(10, 10, 10);
  box-shadow: 1px 2px 15px -2px rgb(10, 10, 10);
  text-align: center;
  z-index: 2;
}

#close{
  color: white;
  font-size: 18px;
  margin-left:30px;
  margin-top: 3px;
  cursor: pointer;
}

#play{
  color: white;
  font-size: 15px;
  margin-right:10px;
  cursor: pointer;
}
#pause{
  color: white;
  font-size: 15px;
  margin-right:10px;
  cursor: pointer;
}

#stop{
  color: white;
  font-size: 18px;
  margin-right:10px;
  margin-top: 3px;
  cursor: pointer;
}

.player .itens{
  margin: 10px;
}

.player p{
  margin-bottom:5px;

}

.progress{
  width: 25%;
  margin:0px;
  margin: auto;
  border-radius: 20px;
  border: 1px solid rgb(134, 134, 134);
  flex-grow: 1;
}

.progress-bar{
  background: rgb(14, 14, 14);
  border-radius: 0px;
}

.reproducer{
  display: flex;
  width: 26%;
  margin: 0 auto;
}
