<div class="overflow">
  <div class="home">
    <div class="card" style="height: 500px;color: aliceblue; background-color: #1e1f1f;">
      <br>
      <div class="container">
        <div [hidden]="submitted">
          <h1><div class="text-center">FEEDBACK</div></h1>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <form (ngSubmit)="onSubmit()" #FeedbackForm="ngForm" style="padding-left: 40px;">
                <br>
                <div class="form-group">
                  <label for="description">Descrição:</label>
                  <input type="text" class="form-control" id="description" required [(ngModel)]="model.description" name="description" #description="ngModel">
                  <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                    Por favor, informe mais detalhes do problema!
                  </div>
                </div>
                
                <div class="form-group">
                  <label for="alterEgo">Print do problema:</label>
                  <input type="text" class="form-control" id="alterEgo" required [(ngModel)]="model.alterEgo" name="alterEgo" #alterEgo="ngModel">
                  <div [hidden]="alterEgo.valid || alterEgo.pristine" class="alert alert-danger">
                    Por favor, faça o upload de um print que demonstre o problema.
                  </div>
                </div>
                <br>
                <button type="submit" class="btn btn-success" [disabled]="!FeedbackForm.form.valid">Submit</button>
              </form>
            </div>
            <div class="col-md-6">
              <div class="text-center">
                <div class="row">
                  <div class="col-md-4">
                    <br>
                    <br>
                    <h3><i class="fas fa-map-marker-alt"></i></h3>
                    <br>
                    <h3><i class="fas fa-phone"></i></h3>
                    <br>
                    <h3><i class="fas fa-envelope"></i></h3>
                    <br>
                  </div>
                  <div class="col-md-8">
                    <br>
                    <br>
                    <h5 style="text-align: start; padding-top: 6px; margin-left: -40px;">Av. Mascarenhas de Morais, 1915 </h5>
                    <br>
                    <h5 style="text-align: start; padding-top: 6px; margin-left: -40px;">+55 81 51-1519 </h5>
                    <br>
                    <h5 style="text-align: start; padding-top: 6px; margin-left: -40px;">unibratec@unibratec.edu.br </h5>
                    <br>
                  </div>  
                </div>
              </div>
              <hr>
              <div class="text-center">
                <i class="fab fa-google" style="font-size: 40px; margin-left: 20px; margin-right: 20px; margin-top: 10px; margin-bottom: 10px;"></i>
                <i class="fab fa-facebook" style="font-size: 40px; margin-left: 20px; margin-right: 20px; margin-top: 10px; margin-bottom: 10px;"></i>
                <i class="fab fa-instagram" style="font-size: 40px; margin-left: 20px; margin-right: 20px; margin-top: 10px; margin-bottom: 10px;"></i>
                <i class="fab fa-twitter" style="font-size: 40px; margin-left: 20px; margin-right: 20px; margin-top: 10px; margin-bottom: 10px;"></i>
              </div>
            </div>
          </div>
        </div>
        <div [hidden]="!submitted">
          <h1>
            <div class="text-center">FEEDBACK</div>
          </h1>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <form (ngSubmit)="onSubmit()" #FeedbackForm="ngForm">
                  <h4><div class="text-center">Feedback enviado com sucesso!</div></h4>                
                <br>
              </form>
            </div>
            <div class="col-md-6">
              <h1>
                <div class="text-center">hello</div>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .btn-success {
    color: #1e1f1f;
    background-color: aliceblue;
    border-color: aliceblue;
  }

  .alert-danger {
    padding-top: 5px;
    padding-bottom: 5px;
  }
</style>