<div class="overflow">
  <div class="home">
    <div class="card" style="height: 550px;color: aliceblue; background-color: #1e1f1f;">
      <br>
      <div class="container">
        <div [hidden]="submitted">
          <h1><div class="text-center">FEEDBACK</div></h1>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <form (ngSubmit)="onSubmit()" #FeedbackForm="ngForm" style="padding-left: 40px;">
                <br>
                <div class="form-group">
                  <div class="rating" style="margin-right: 115px;">
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" ></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <br>
                  <br>
                  
                  <label for="description">Descrição</label>
                  <input type="text" style="height: 140px; border-bottom-width: 1px;padding-bottom: 100px;" class="form-control" id="description" required [(ngModel)]="model.description" name="description" #description="ngModel">
                  <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                    O campo não pode ficar em branco!
                  </div>
                </div>
                <br>
                <button type="submit" class="btn btn-success" [disabled]="!FeedbackForm.form.valid">Enviar</button>
              </form>
            </div>
            <div class="col-md-6">
              <div class="text-center">
                <div class="row">
                  <div class="col-md-4">
                    <br>
                    <br>
                    <h3><i class="fas fa-map-marker-alt"></i></h3>
                    <br>
                    <h3><i class="fas fa-phone"></i></h3>
                    <br>
                    <h3><i class="fas fa-envelope"></i></h3>
                    <br>
                  </div>
                  <div class="col-md-8">
                    <br>
                    <br>
                    <h5 style="text-align: start; padding-top: 6px; margin-left: -40px;">Av. Mascarenhas de Morais, 1915 </h5>
                    <br>
                    <h5 style="text-align: start; padding-top: 6px; margin-left: -40px;">+55 81 3151-1519 </h5>
                    <br>
                    <h5 style="text-align: start; padding-top: 6px; margin-left: -40px;">unibratec@unibratec.edu.br </h5>
                    <br>
                  </div>  
                </div>
              </div>
              <hr>
              <div class="text-center">
                <i class="fab fa-google" style="font-size: 40px; margin-left: 20px; margin-right: 20px; margin-top: 10px; margin-bottom: 10px;"></i>
                <i class="fab fa-facebook" style="font-size: 40px; margin-left: 20px; margin-right: 20px; margin-top: 10px; margin-bottom: 10px;"></i>
                <i class="fab fa-instagram" style="font-size: 40px; margin-left: 20px; margin-right: 20px; margin-top: 10px; margin-bottom: 10px;"></i>
                <i class="fab fa-twitter" style="font-size: 40px; margin-left: 20px; margin-right: 20px; margin-top: 10px; margin-bottom: 10px;"></i>
              </div>
            </div>
          </div>
        </div>
        <div [hidden]="!submitted">
          <h1>
            <div class="text-center">FEEDBACK</div>
          </h1>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <form (ngSubmit)="onSubmit()" #FeedbackForm="ngForm">
                <br>
                <br>
                <br>
                <br>
                <br>
                <h4><div class="text-center">Feedback enviado com sucesso!</div></h4>                
                <br>
              </form>
            </div>
            <div class="col-md-6">
              <div class="text-center">
                <div class="row">
                  <div class="col-md-4">
                    <br>
                    <br>
                    <h3><i class="fas fa-map-marker-alt"></i></h3>
                    <br>
                    <h3><i class="fas fa-phone"></i></h3>
                    <br>
                    <h3><i class="fas fa-envelope"></i></h3>
                    <br>
                  </div>
                  <div class="col-md-8">
                    <br>
                    <br>
                    <h5 style="text-align: start; padding-top: 6px; margin-left: -40px;">Av. Mascarenhas de Morais, 1915 </h5>
                    <br>
                    <h5 style="text-align: start; padding-top: 6px; margin-left: -40px;">+55 81 3151-1519 </h5>
                    <br>
                    <h5 style="text-align: start; padding-top: 6px; margin-left: -40px;">unibratec@unibratec.edu.br </h5>
                    <br>
                  </div>
                </div>
              </div>
              <hr>
              <div class="text-center">
                <i class="fab fa-google"
                  style="font-size: 40px; margin-left: 20px; margin-right: 20px; margin-top: 10px; margin-bottom: 10px;"></i>
                <i class="fab fa-facebook"
                  style="font-size: 40px; margin-left: 20px; margin-right: 20px; margin-top: 10px; margin-bottom: 10px;"></i>
                <i class="fab fa-instagram"
                  style="font-size: 40px; margin-left: 20px; margin-right: 20px; margin-top: 10px; margin-bottom: 10px;"></i>
                <i class="fab fa-twitter"
                  style="font-size: 40px; margin-left: 20px; margin-right: 20px; margin-top: 10px; margin-bottom: 10px;"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .btn-success {
    color: #1e1f1f;
    background-color: aliceblue;
    border-color: aliceblue;
  }

  .alert-danger {
    padding-top: 1px;
    padding-bottom: 1px;
  }
</style>
<style>

 .rating {
      float: right;
    }

    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
      follow these rules. Every browser that supports :checked also supports :not(), so
      it doesn’t make the test unnecessarily selective */
    .rating:not(:checked) > input {
        position:absolute;
        top:-9999px;
        clip:rect(0,0,0,0);
    }

    .rating:not(:checked) > label {
        float: right;
        width:1em;
        /* padding:0 .1em; */
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:300%;
        /* line-height:1.2; */
        color: rgb(206, 202, 202);
    }

    .rating:not(:checked) > label:before {
        content: '★ ';
    }

    .rating > input:checked ~ label {
        color: #FBB202;
        
    }

    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: #FBB202;
        
    }

    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: #FBB202;
        
    }

    .rating > label:active {
        position:relative;
        top:2px;
        left:2px;
    }

</style>