<div class="header">
    <div class="row">
        <div class="col-md-4">
            <div>
                <img src="../../assets/icons/logo2-2.png" alt="logo" width="50" height="44.625">
            </div>
        </div>
        <div class="col-md-4">
            <div class="center">
                <i class="fas fa-search"></i>
                <input class="podsearch" type="text" placeholder="Pesquisar PodCast">
            </div>
        </div>
        <div class="col-md-4">
            <div class="dropdown" style="float: right">
                <i class="fa fa-chevron-down" aria-hidden="true" style="background-color: #111; color: white; padding: 16px; font-size: 30px; border: none;"></i>
                <div class="dropdown-content">
                    <a>Link 1</a>
                    <a>Link 2</a>
                    <a>Link 3</a>
                </div>
            </div>
        </div>
    </div>
</div>
