<div class="header">
    <div class="row">
        <div class="col-md-4">
            <div>
                <img src="../../assets/icons/logo2-2.png" alt="logo" width="50" height="44.625">
            </div>
        </div>
        <div class="col-md-4">
            <div class="center">
                <h1 style="color: aliceblue; font-family: Lobster; margin-top: -8px;">MyPodCast</h1>
            </div>
        </div>
        <div class="col-md-4">
            <div class="center" style="float: right">
                <div *ngIf="router.url != '/login'">
                    <div (click)="onLogout()"><i class="fa fa-sign-out-alt" aria-hidden="true" style="background-color: #1e1f1f; color: aliceblue; font-size: 30px; border: none;"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

    hr{
    width: 90%;
    border:1px solid rgba(59, 59, 59, 0.37);
    border-radius: 20%;
    }

</style>
<!-- <div class="dropdown" style="float: right">
    <i class="fa fa-chevron-down" aria-hidden="true" style="background-color: #1e1f1f; color: aliceblue; padding: 16px; font-size: 30px; border: none;"></i>
    <div class="dropdown-content">
        <a>Link 1</a>
        <a>Link 2</a>
        <a>Link 3</a>
    </div>
</div> -->