.header{
  height: 60px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  -webkit-box-shadow: 1px 4px 15px -4px rgb(10, 10, 10);
  -moz-box-shadow: 1px 4px 15px -4px rgb(10, 10, 10);
  box-shadow: 1px 2px 15px -2px rgb(10, 10, 10);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

img{
  position: absolute;
  margin-top: 7px;
  margin-left: 50px;
  cursor: pointer;
}

.center {
  position: relative;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 12px;
}
.center i {
  position: absolute;
  font-size: 20px;
  margin: 7px;
  color: gray;
}

.podsearch {
  width: 300px;
  height: 35px;
  padding: 0px 10px 0px 35px;
  border: 0px;
  border-radius: 7px;
  outline: none;
  -webkit-transition: 0.2s; /* Safari */
  transition: 0.2s;

}
.podsearch::placeholder {
  color: rgb(95, 95, 95);
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.podsearch:focus{
  border-radius: 0px;
}

.dropdown {
  display: inline-block;
  margin-bottom: 7px;
  margin-right: 50px;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .fa-chevron-down {
  background-color: #111;
  float: right
}
