<div class="header">
    <div class="row">
        <div class="col-md-4">
            <div>
                <img src="../../assets/icons/logo.png" alt="logo" width="50" height="44.625">
            </div>
        </div>
        <div class="col-md-4">
            <div class="center">
                <i class="fas fa-search"></i>
                <input class="podsearch" type="text" placeholder="Pesquisar PodCast">
            </div>
        </div>
        <div class="col-md-4">
            <div class="dropdown" style="float: right">
                <button class="dropbtn">v</button>
                <div class="dropdown-content">
                    <a>Link 1</a>
                    <a>Link 2</a>
                    <a>Link 3</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .dropbtn {
        background-color: #111;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .dropdown {
        display: inline-block;
        margin-bottom: 7px;
        margin-right: 50px;
        right: 0;
        bottom: 0;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0);
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #111;
        float: right
    }
</style>