<div class="overflow">
  <div class="home">
    <div class="card" style="width: 50%; height: 550px;color: aliceblue; background-color: #1e1f1f;">
      <br>
      <div class="container">
        <h1>
          <div class="text-center">LOGIN</div>
        </h1>
        <hr>
        <form>
          <br>
          <div class="form-group">
            <label for="user">Usuário:</label>
            <input type="text" class="form-control"
              id="user" required [(ngModel)]="model.user" name="user" #user="ngModel">
            <div [hidden]="user.valid || user.pristine" class="alert alert-danger">
              O campo não pode ficar em branco!
            </div>
          </div>          <br>
          <div class="form-group">
            <label for="password">Senha:</label>
            <input type="password" class="form-control"
              id="password" required [(ngModel)]="model.password" name="password" #password="ngModel">
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
              O campo não pode ficar em branco!
            </div>
          </div>
          <br>
          <div class="text-center">
            <button type="submit" routerLink="/home" class="btn btn-success" style="margin-top: 50px;">Entrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  .btn-success {
    color: #1e1f1f;
    background-color: aliceblue;
    border-color: aliceblue;
  }

  .alert-danger {
    padding-top: 5px;
    padding-bottom: 5px;
  }
</style>