<div class="overflow">
  <div class="detail">
    <div class="episodes">
      <p>Assistir mais tarde</p>
      <br>
      <ul *ngFor="let pc of podcasts.episodes; let i = index">
        <li class="listElement">
          <div class="epBody">
            <p><i class="fas fa-play-circle"></i> {{ pc.title }}</p>
            <div class="epBodyDescription">
              <hr>
              <p style="padding-top: 0px;">{{ pc.description }}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>