<div *ngIf="router.url != '/registration' && router.url != '/login' && router.url != '/forgotpassword'">
  <div class="sidebar">
    <a routerLink="/home"><i class="fas fa-home"></i> Início</a>
    <hr>
    <a routerLink="/favorite"><i class="fas fa-star"></i> Favoritos</a>
    <a routerLink="/history"><i class="fas fa-history"></i> Histórico</a>
    <a routerLink="/later"><i class="fas fa-clock"></i> Assistir Mais Tarde </a>
    <a routerLink="/follow"><i class="fas fa-heart"></i> Seguindo </a>
    <hr>
    <div class="listFollowed" *ngFor="let podcast of podcasts; let i=index">
      <a (click)="changepodcast(i)" routerLink="/details"><i class="fas fa-star" style="font-size: 11px;"></i>{{podcast.name}}</a>   
    </div>
    <hr>
    <a routerLink="/feedback"><i class="fas fa-comment-alt"></i> Enviar FeedBack </a>
  </div>
</div>
