/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lobster:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,900');

html,body{
  background: url("./assets/wallpaper/wallpaper4.jpg");
  margin: 0 auto;
  padding: 0;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #686868;
}

::-webkit-scrollbar-track:hover {
  background: #686868;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(49, 49, 49);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(20, 20, 20);

}


//Responsividade dos podcasts
.home{
  width: 80%;
  margin-left: 350px;
  margin-top: 100px;
}
.overflow{
  width:100%;
  height: 98%;
  overflow: auto;
}
p{
  color: aliceblue;
}

  // RESPONSIVIDADE

@media only screen and (max-width: 1640px) {
  .home{
    width: 80%;
    margin-left: 320px;
  }
}

@media only screen and (max-width: 1585px) {
  .home{
    width: 80%;
    margin-left: 300px;
  }
}

@media only screen and (max-width: 1565px) {
  .home{
    width: 80%;
    margin-left: 300px;
  }
}

@media only screen and (max-width: 1560px) {
  .home{
    width: 70%;
    margin-left: 400px;
  }
}

@media only screen and (max-width: 1475px) {
  .home{
    width: 75%;
    margin-left: 350px;
  }
}


@media only screen and (max-width: 1420px) {
  .home{
    width: 75%;
    margin-left: 300px;
  }
}

@media only screen and (max-width: 1390px) {
  .home{
    width: 75%;
    margin-left: 300px;
  }
}

@media only screen and (max-width: 1380px) {
  .home{
    width: 80%;
    margin-left: 275px;
  }
}

@media only screen and (max-width: 1340px) {
  .home{
    width: 70%;
    margin-left: 370px;
  }
}


@media only screen and (max-width: 1240px) {
  .home{
    width: 70%;
    margin-left: 320px;
  }
}


@media only screen and (max-width: 1190px) {
  .home{
    width: 75%;
    margin-left: 290px;
  }
}


@media only screen and (max-width: 1150px) {
  .home{
    width: 95%;
    margin-left: 5%;
  }
}


@media only screen and (max-width: 1100px) {
  .home{
    width: 90%;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 950px) {
  .home{
    width: 90%;
    margin-left: 5%;
  }
}


@media only screen and (max-width: 920px) {
  .home{
    width: 95%;
    margin-left: 5%;
  }
}

@media only screen and (max-width: 860px) {
  .home{
    width: 85%;
    margin-left: 15%;
  }
}

@media only screen and (max-width: 760px) {
  .home{
    width: 90%;
    margin-left: 10%;
  }
}


@media only screen and (max-width: 720px) {
  .home{
    width: 95%;
    margin-left: 5%;
  }

}
@media only screen and (max-width: 670px) {
  .home{
    width: 80%;
    margin-left: 20%;
  }
}

@media only screen and (max-width: 580px) {
  .home{
    width: 90%;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 480px) {
  .home{
    width: 95%;
    margin-left: 5%;
  }
}

@media only screen and (max-width: 440px) {
  .home{
    width: 98%;
    margin-left: 2%;
  }
}


@media only screen and (max-width: 420px) {
  .home{
    width: 99%;
    margin-left: 1%;
  }
}

